.container {
  width: 50%;
  height: 55%;
  border-radius: 20px;
  background-color: #f4e1ba;
  padding: 2rem;
}

.title {
  font-size: 2.7rem;
  color: #e55c14;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.content {
  font-weight: normal;
  color: black;
  line-height: 2rem;
  text-align: center;
}
