@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Black.woff') format('woff2'),
      url('./assets/fonts/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Italic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/Nunito-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-Bold.woff2') format('woff2'),
      url('./assets/fonts/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-Light.woff2') format('woff2'),
      url('./assets/fonts/Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-Medium.woff2') format('woff2'),
      url('./assets/fonts/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-MediumItalic.woff2') format('woff2'),
      url('./assets/fonts/Nunito-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'NNunito';
  src: url('./assets/fonts/Nunito-Regular.woff2') format('woff2'),
      url('./assets/fonts/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NNunito';
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
}

.main-container {
  background-color: #212329;
  min-height: 100vh;
}

.section-container {
  height: 40rem;
}

.display-flex {
  display: flex;
}

.flex-flow-cl {
  flex-flow: column;
}

.flex-50 {
  flex: 0 0 50%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-self-center {
  align-self: center;
}

.mb-05 {
  margin-bottom: 0.3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mr-7 {
  margin-right: 7rem;
}

.ml-3 {
  margin-left: 3rem;
}